html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

* {
  font-family: "Overpass", sans-serif; }
  *:focus {
    outline-width: 0.125rem;
    outline-style: solid;
    outline-color: rgba(118, 188, 33, 0.5);
    outline-offset: 0.125rem; }
  *::selection {
    background: rgba(214, 215, 217, 0.5); }

body {
  margin: 0 auto; }

button {
  line-height: 1;
  cursor: pointer; }

.full-width-container,
.grid-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem; }

.grid-container {
  max-width: 1200px; }

.row {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  margin-right: -1rem;
  margin-left: -1rem; }
  .row.align-start {
    align-items: flex-start; }
  .row.align-center {
    align-items: center; }
  .row.align-end {
    align-items: flex-end; }
  .row.justify-center {
    justify-content: center; }
  .row.justify-end {
    justify-content: flex-end; }
  .row.justify-between {
    justify-content: space-between; }
  .row.justify-around {
    justify-content: space-around; }

.col {
  flex: 1;
  padding-right: 1rem;
  padding-left: 1rem; }
  .col.col-auto {
    flex: 0 0 auto;
    max-width: none;
    width: auto; }
  .col.col-1 {
    flex-basis: 8.33%;
    max-width: 8.333333%; }
  .col.col-2 {
    flex-basis: 16.67%;
    max-width: 16.666667%; }
  .col.col-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col.col-4 {
    flex-basis: 33.33%;
    max-width: 33.333333%; }
  .col.col-5 {
    flex-basis: 41.67%;
    max-width: 41.666667%; }
  .col.col-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col.col-7 {
    flex-basis: 58.33%;
    max-width: 58.333333%; }
  .col.col-8 {
    flex-basis: 66.67%;
    max-width: 66.666667%; }
  .col.col-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col.col-10 {
    flex-basis: 83.33%;
    max-width: 83.333333%; }
  .col.col-11 {
    flex-basis: 91.67%;
    max-width: 91.666667%; }
  .col.col-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .col.no-gutters {
    padding-right: 0;
    padding-left: 0; }
  .col.self-start {
    align-self: flex-start; }
  .col.self-center {
    align-self: center; }
  .col.self-end {
    align-self: flex-end; }
  .col.order-first {
    order: 1; }
  .col.order-last {
    order: -1; }

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .col {
    flex-basis: 100%;
    max-width: 100%; }
    .col.col-s-4 {
      flex-basis: 33.33%;
      max-width: 33.333333%; }
    .col.col-s-5 {
      flex-basis: 41.67%;
      max-width: 41.666667%; }
    .col.col-s-6 {
      flex-basis: 50%;
      max-width: 50%; }
    .col.col-s-7 {
      flex-basis: 58.33%;
      max-width: 58.333333%; }
    .col.col-s-12 {
      flex-basis: 100%;
      max-width: 100%; }

  .hidden-xs {
    display: block; } }
@media only screen and (max-width: 767px) {
  .col {
    flex-basis: 100%;
    max-width: 100%; }
    .col.col-xs-6 {
      flex-basis: 50%;
      max-width: 50%; }
    .col.col-xs-12 {
      flex-basis: 100%;
      max-width: 100%; }
    .col.order-first {
      order: -1; }
    .col.order-last {
      order: 1; }

  .hidden-xs {
    display: none; } }
html {
  color: #676C72;
  font-family: "Overpass", sans-serif;
  font-size: 1rem;
  line-height: 1.5; }

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 1.25; }

p,
.paragraph,
.text-small
.text-extra-small {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.5; }

h1,
.h1 {
  font-size: 2rem; }

h2,
.h2 {
  font-size: 1.625rem; }

h3,
.h3 {
  font-size: 1.25rem; }

p,
.paragraph {
  font-size: 1rem; }

.text-small {
  font-size: 0.875rem; }

.text-extra-small {
  font-size: 0.75rem; }

.skip-link {
  position: absolute;
  top: -50px;
  left: 0;
  border: 0;
  padding: 0.25rem 0.5rem;
  background: #FFFFFF;
  color: #676C72;
  text-decoration: none;
  transition: top 1s ease-out; }
  .skip-link:hover {
    color: #000000; }
  .skip-link:focus {
    position: absolute;
    top: 0;
    left: 0;
    outline-offset: 0;
    transition: top 0.5s ease-in; }

.primary {
  position: relative;
  display: inline-block;
  border: 0;
  padding: 0;
  background: transparent;
  color: #676C72;
  text-decoration: none; }
  .primary:before {
    content: '';
    position: absolute;
    bottom: -0.125rem;
    left: 50%;
    width: 0;
    height: 1px;
    transform: translateX(-50%);
    transition: width 0.2s ease-in-out;
    background-color: #76BC21; }
  .primary:hover:before, .primary.active:before {
    width: 100%; }

.email:hover a,
.email:hover i {
  color: #76BC21; }

.google-form:hover a,
.google-form:hover i {
  color: #4285F4; }

.linkedin:hover a,
.linkedin:hover i {
  color: #0077B5; }

.github:hover a,
.github:hover i {
  color: #24292E; }

.twitter:hover a,
.twitter:hover i {
  color: #1DA1F2; }

.tumblr:hover a,
.tumblr:hover i {
  color: #35465C; }

.header {
  margin-bottom: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem; }

.logo-wrapper {
  display: block;
  font-size: 0; }

.logo {
  width: 3.5rem; }

.nav-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none; }

.nav-list-item {
  margin: 0 2rem 0 0; }

.nav-list-item:last-of-type {
  margin-right: 0; }

@media only screen and (max-width: 767px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .header .row.justify-between {
      justify-content: center;
      align-items: center; }

  .logo-wrapper {
    margin-bottom: 2rem; }

  .nav-list {
    justify-content: center; } }
.filter {
  margin: 0 1rem 1rem 0;
  border: 1px solid #676C72;
  padding: 0.375rem 0.5rem;
  background: #FFFFFF;
  color: #676C72;
  font-size: 0.875rem; }
  .filter:last-of-type {
    margin: 0 1rem 2rem 0; }
  .filter:hover, .filter.active {
    border-color: #76BC21;
    transition: border-color 0.2s ease-in-out; }

@-moz-document url-prefix() {
  .filter {
    padding: 0.5rem 0.5rem 0.375rem 0.5rem; } }
.card {
  display: block;
  box-shadow: 0 1px 3px rgba(103, 108, 114, 0.12), 0 1px 2px rgba(103, 108, 114, 0.24);
  margin-bottom: 2rem;
  color: #676C72;
  text-decoration: none;
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .card:hover {
    box-shadow: 0 10px 20px rgba(103, 108, 114, 0.19), 0 6px 6px rgba(103, 108, 114, 0.23); }
    .card:hover .card-name {
      border-top: 1px solid #76BC21;
      color: #76BC21;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .card:focus {
    outline-offset: 0; }

.card-image {
  display: block;
  width: 100%; }

.card-name {
  margin: 0;
  border-top: 1px solid #AFB2B5;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem; }

@-moz-document url-prefix() {
  .card-name {
    padding: 0.625rem 0.75rem 0.5rem; } }
.slick-container {
  display: block;
  box-shadow: 0 1px 3px rgba(103, 108, 114, 0.12), 0 1px 2px rgba(103, 108, 114, 0.24); }

.slick-slider {
  margin-bottom: 50px;
  /* magic numbers because of react slick */ }
  .slick-slider .slick-dots {
    bottom: -40px;
    /* magic numbers because of react slick */ }
    .slick-slider .slick-dots li button:focus {
      outline-width: 0.125rem;
      outline-style: solid;
      outline-color: rgba(118, 188, 33, 0.5);
      outline-offset: 0.125rem; }
    .slick-slider .slick-dots li button:before {
      color: #676C72;
      opacity: 1; }
    .slick-slider .slick-dots li.slick-active button:before {
      color: #000000;
      opacity: 1; }

.project-page-imagery {
  width: 100%;
  vertical-align: bottom; }

@media only screen and (max-width: 767px) {
  .slick-container {
    margin-top: 1rem; } }
.photo {
  max-width: 100%;
  margin-bottom: 2rem; }

.photo-xs {
  display: none; }

.social-links p {
  display: flex;
  align-items: center; }
.social-links a, .social-links i {
  color: #676C72;
  line-height: 1;
  text-decoration: none;
  transition: color 0.2s; }
.social-links i {
  margin-right: 0.75rem; }

@media only screen and (max-width: 767px) {
  .photo-xs {
    display: block; } }
.footer {
  margin-top: 3rem;
  border-top: 1px solid #D6D7D9;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center; }

.footer-links {
  margin-bottom: 1rem; }
  .footer-links a {
    margin: 0 0.5rem; }
  .footer-links a, .footer-links i {
    color: #676C72;
    text-decoration: none;
    transition: color 0.2s; }
  .footer-links i {
    line-height: 1; }

/*# sourceMappingURL=global.css.map */
