.card
{
  display: block;
  box-shadow: $box-shadow;
  margin-bottom: 2rem;
  color: $font-color-primary;
  text-decoration: none;
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover
  {
    box-shadow: $box-shadow-hover;

    .card-name
    {
      border-top: 1px solid $accent-color-primary;
      color: $accent-color-primary;
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
  }

  &:focus
  {
    outline-offset: 0;
  }
}

.card-image
{
  display: block;
  width: 100%;
}

.card-name
{
  margin: 0;
  border-top: 1px solid $border-color-primary;
  padding: 0.5rem 0.75rem;
  font-size: $font-size-small;
}

@-moz-document url-prefix()
{ 
  .card-name
  {
    padding: 0.625rem 0.75rem 0.5rem;
  }
}