.filter
{
  margin: 0 0.5rem 1rem 0;
  border-radius: 1rem;
  border: 0;
  padding: 0.375rem 0.5rem;
  background: rgba($platinum, 0.3);
  color: rgba($font-color-primary, 0.7);
  font-size: $font-size-small;

  &:last-of-type
  {
    margin: 0 1rem 2rem 0;
  }
}

.filter:hover,
[data-active-filter="All"] [data-filter="All"],
[data-active-filter="Design"] [data-filter="Design"],
[data-active-filter="Development"] [data-filter="Development"],
[data-active-filter="Fine Art"] [data-filter="Fine Art"]
{
  background: rgba($platinum, 0.5);
  color: rgba($font-color-primary, 1.0);
  transition: background 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

@-moz-document url-prefix()
{
  .filter
  {
    padding: 0.5rem 0.5rem 0.375rem 0.5rem;
  }
}