.footer
{
  margin-top: 3rem;
  border-top: 1px solid $border-color-secondary;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

.footer-links
{
  margin-bottom: 1rem;

  & a
  {
    margin: 0 0.5rem;
  }

  & a,
  & i
  {
    color: $font-color-primary;
    text-decoration: none;
    transition: color 0.2s;
  }

  & i
  {
    line-height: 1;
  }
}