html
{
	box-sizing: border-box;
}

*, 
*:before, 
*:after
{
	box-sizing: inherit;
}

*
{
  	font-family: $font-family-body;

	&:focus
	{
		outline-width: 0.125rem;
		outline-style: solid;
		outline-color: rgba($accent-color-primary, 0.5);
		outline-offset: 0.125rem;
	}

	&::selection
	{
		background: rgba($platinum, 0.5);
	}
}

body
{
	margin: 0 auto;
}

button
{
	line-height: 1;
	cursor: pointer;
}