$roboto: 'Roboto', sans-serif;

$accent: #76BC21;
$white: #FFFFFF;
$grey100: #676C72;
$grey75: #8B8E93;
$grey50: #AFB2B5;
$grey25: #D6D7D9;

$google: #4285F4;
$linkedin: #0077B5;
$github: #24292E;
$twitter: #1DA1F2;
$tumblr: #35465C;