// font families
$font-family-body: 'Overpass', sans-serif;
$font-family-code: 'Overpass Mono', monospace;

// font sizes
$font-size-small: 0.875rem;

// font weights
$font-weight-regular: 400;

// external brand colors
$linkedin: #0077B5;
$github: #24292E;
$twitter: #1DA1F2;
$tumblr: #35465C;
$google: #4285F4;

// KLL brand colors
$lizard: #76BC21;
$chalk: #FFFFFF;
$platinum: #D6D7D9;
$tin: #AFB2B5;
$iron: #8B8E93;
$carbon: #676C72;
$ink: #000000;
$nacho-cheese: #FB8C00;
$hot-sauce: #FF3D00;

// abstracted colors
$accent-color-primary: $lizard;
$font-color-primary: $carbon;
$border-color-primary: $tin;
$border-color-secondary: $platinum;

// shadows
$box-shadow: 0 1px 3px rgba($carbon, 0.12), 0 1px 2px rgba($carbon, 0.24);
$box-shadow-hover: 0 10px 20px rgba($carbon, 0.19), 0 6px 6px rgba($carbon, 0.23);