.header
{
	margin-bottom: 2rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.logo-wrapper
{
	display: block;
	font-size: 0;
}

.logo
{
	width: 3.5rem;
}

.nav-list
{
	display: flex;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.nav-list-item
{
	margin: 0 2rem 0 0;
}

.nav-list-item:last-of-type
{
	margin-right: 0;
}

@media only screen and (max-width: 767px)
{
	.header
	{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		.row.justify-between
		{
			justify-content: center;
			align-items: center;
		}
	}

	.logo-wrapper
	{
		margin-bottom: 2rem;
	}

	.nav-list
	{
		justify-content: center;
	}

	.nav-list-item:last-of-type
	{
		margin: 0 2rem 0 0;
	}
}