.photo
{
	max-width: 100%;
	margin-bottom: 2rem;
}

.photo-xs
{
	display: none;
}

.social-links
{
	p
	{
		display: flex;
		align-items: center;
	}

	& a,
	& i
	{
		color: $font-color-primary;
		line-height: 1;
		text-decoration: none;
		transition: color 0.2s;
	}

	& i
	{
		margin-right: 0.75rem;
	}
}

@media only screen and (max-width: 767px)
{
	.photo-xs
	{
		display: block;
	}
}