.skip-link
{
  position: absolute;
  top: -50px;
  left: 0;
  border: 0;
  padding: 0.25rem 0.5rem;
  background: $chalk;
  color: $font-color-primary;
  text-decoration: none;
  transition: top 1s ease-out;

  &:hover
  {
    color: $ink;
  }

  &:focus
  {
    position: absolute;
    top: 0;
    left: 0;
    outline-offset: 0;
    transition: top 0.5s ease-in;
  }
}

.primary
{
  position: relative;
  display: inline-block;
  border: 0;
  padding: 0;
  background: transparent;
  color: $font-color-primary;;
  text-decoration: none;

  &:before
  {
    content: '';
    position: absolute;
    bottom: -0.125rem;
    left: 50%;
    width: 0;
    height: 1px;
    transform: translateX(-50%);
    transition: width 0.2s ease-in-out;
    background-color: $accent-color-primary;
  }

  &:hover,
  &.active
  {
    &:before
    {
      width: 100%;
    }
  }
}

.email:hover
{
  a,
  i
  {
    color: $accent-color-primary;
  }
}

.google-form:hover
{
  a,
  i
  {
    color: $google;
  }
}

.linkedin:hover
{
  a,
  i
  {
    color: $linkedin;
  }
}

.github:hover
{
  a,
  i
  {
    color: $github;
  }
}

.twitter:hover
{
  a,
  i
  {
    color: $twitter;
  }
}

.tumblr:hover
{
  a,
  i
  {
    color: $tumblr;
  }
}