.slick-container
{
	display: block;
	box-shadow: $box-shadow;
}

.slick-slider
{
	margin-bottom: 50px; /* magic numbers because of react slick */

	.slick-dots
	{
		bottom: -40px; /* magic numbers because of react slick */
	
		li button:focus
		{
			outline-width: 0.125rem;
			outline-style: solid;
			outline-color: rgba($accent-color-primary, 0.5);
			outline-offset: 0.125rem;
		}

		li button:before
		{
			color: $font-color-primary;
			opacity: 1;
		}

		li.slick-active button:before
		{
			color: $ink;
			opacity: 1;
		}
	}
}

.project-page-imagery
{
	width: 100%;
	vertical-align: bottom;
}

@media only screen and (max-width: 767px)
{
	.slick-container
	{
		margin-top: 1rem;
	}
}